<div class="container">

    <div class="info-wrapper">
        <div class="title">{{title}}</div>
        
        <div class="header-buttons">
            <button class="period-bttn" (click)="indexChange()">Index</button>
            <button class="period-bttn" (click)="monthChange()">1 month %</button>
        </div>
        
        <main [class]="theme">
            <div class="data-charts">
                <ngx-charts-line-chart
                    [scheme]="cpi_colorScheme"
                    [legend]="cpi_legend"
                    [showXAxisLabel]="cpi_showXAxisLabel"
                    [showYAxisLabel]="cpi_showYAxisLabel"
                    [showGridLines]="cpi_showGridLines"
                    [gradient]="cpi_gradient"
                    [xAxis]="cpi_xAxis"
                    [yAxis]="cpi_yAxis"
                    [xAxisLabel]="cpi_xAxisLabel"
                    [yAxisLabel]="cpi_yAxisLabel"
                    [autoScale]="cpi_autoScale"
                    [timeline]="cpi_timeline"
                    [results]="cpi_data"
                    >
                </ngx-charts-line-chart>
            </div>
        </main>

    </div>

    <div class="economic-buttons">
        <button class="cpi-button" (click)="cpiButton()">CPI</button>
    </div>

</div>
