<div class="container">

    <div class="info_wrapper">
        <div class="title">Covid Economic Impact By Province</div>
        
        <div class="header-buttons">
            <button class="period-bttn">1 month % change</button>
            <button class="period-bttn">12 month % change</button>
            <button class="period-bttn">Index</button>
        </div>

    </div>

    <div class="economic-buttons">
        <button class="cpi-button">CPI</button>
        <button class="employment-button">Employment</button>
        <button class="retail-trade">Retail</button>
    </div>

</div>
