  
<html>
  <body>
    <div class="container">
      <div class="header">
          <h1 style="color: white">Canada's Covid-19 Trends and Economic Impact</h1>
      </div>
  
      <div class="main_body">
          <div class="column column1">
            <app-economic-breakdown class="economic-breakdown"></app-economic-breakdown>
            <app-debt-breakdown class="debt-breakdown"></app-debt-breakdown>
          </div>
          
          <div class="column map">
            <app-canada-map class="canada_map" (uploaded)="getProvInfectionBreakdown($event)" [myData]="canada_map_data" [chartColumns]="chart_columns"></app-canada-map>
            <app-employment-breakdown class="employment-breakdown"></app-employment-breakdown>
          </div>
          
          <div class="column infection">
            <div class="provinces">
              <app-infection-breakdown></app-infection-breakdown>
            </div>
            
            <div class="cities">
              <app-cities-breakdown [allCities]="cities_breakdown_data"></app-cities-breakdown>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>