
.header
  text-align: center
  

.main_body
    border-style: solid
    height: 600px
    width: 1500px
    

/* Create three equal columns that floats next to each other */
.column
  float: left
  border-style: outset
  margin-left: 15px
  margin-top: 7px
  height: 95%

.column1
  width: 20%

.column2
  width: 55%

.column3
  width: 20%


/* Clear floats after the columns */
.main_body:after
  content: ""
  display: table
  clear: both

