<div class="container">
    <div class="info_wrapper" *ngIf="isTable">
        <div class="table_breakdown">
            <div class="title">Breakdown by Province</div>
            <div class="header">
                
                    <button (click)="sortByInfectionAsc()" class="ascbutton">Sort Ascending</button>
                    <button (click)="sortByInfectionDesc()" class="descbutton">Sort Descending</button>
                
            </div>
            <div class="info">
                <div *ngIf="all_infection_info" class="province_breakdown">
                    <div *ngFor="let infection_info of all_infection_info" class="province">
                        <p class="province_name">{{infection_info.name}} </p> 
                        <span class="infection_info">{{infection_info.infected}} infected and </span> <span>{{infection_info.dead}} dead.</span>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="chart_breakdown" *ngIf="!isTable">
        <div class="title">Breakdown by Province</div>
        <div class="chartWrapper">
            <google-chart class="chart"
                class="canadaMap"
                [columns]="chartColumns"
                [type]="type" 
                [data]="chartData" 
                [options]="myOptions"
                (chart)="chart">
            </google-chart>
        </div>   
    </div>

    <div class="buttons">
        <button class="tablebutton button" (click)="tableClick()">
            Table    
        </button>
        <button class="chartbutton button" (click)="chartClick()">
            Chart
        </button>
    </div>
    
</div>