.container
    position: relative
    left: 0
    top: 0
    height: 90%
    width: 100%

.row1  
    position: absolute
    left: 0
    top: 0
    height: 48%
    width: 100%

.row2
    position: absolute
    bottom: 0
    left: 0
    height: 48%
    width: 100%

.column11
    background-color: #404040
    position: absolute
    top: 0
    left: 0
    width: 48%
    height: 100%
    border-radius: 8px

.column12
    background-color: #404040
    position: absolute
    top: 0
    right: 0
    width: 48%
    height: 100%
    border-radius: 8px

.column21
    background-color: #404040
    position: absolute
    bottom: 0
    left: 0
    width: 48%
    height: 100%
    border-radius: 8px

.column22
    background-color: #404040
    position: absolute
    bottom: 0
    right: 0
    width: 48%
    height: 100%
    border-radius: 8px

.title
    position: absolute
    width: 100%
    text-align: center
    margin-top: 0
    color: white
    font-weight: bold
    
    
    


